<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoClean Pro</title>
</head>
<body>
    <h1>Salut tout le monde, ça va ?</h1>
    <a href="/users/register">s'inscrire</a>
</body>
</html>