<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Agence</title>
</head>
<body>

    <%- include('../partials/sidebar.ejs') %>

        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <h1 class="text-center">Dashboard <%= agence.nom %></h1>
                </div>
            </div>
        </div>
    
</body>
</html>